* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 1.5em;
  font-weight: bold;
}
p {
  font-size: 1em;
  text-align: justify;
  line-height: 1.5em;
}
.content {
  padding: 15vmax;
  padding-top: 5vmax;
}

.judul {
  color: #34babf;
  margin-bottom: 0.5rem;
}

.malang,
.surabaya {
  border: 1px solid black;
  width: 75vmax;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f8f8ff;
  box-shadow: 0 0 1rem rgba(50, 50, 57, 0.45);
  background-color: #7af0f4;
}

.surabaya {
  margin-top: 3vmax;
}

.malang h3,
.surabaya h3 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: rgb(255, 252, 252);
}

.malang a,
.surabaya a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0.3rem;
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
}

.malang a:hover,
.surabaya a:hover {
  font-size: 1.1rem;
  text-decoration: underline;
}

.malang-map,
.ptc-map {
  width: 50vmax;
  height: 35vmax;
}
