/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html,*/
/*body,*/
/*div,*/
/*span,*/
/*applet,*/
/*object,*/
/*iframe,*/
/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6,*/
/*p,*/
/*blockquote,*/
/*pre,*/
/*a,*/
/*abbr,*/
/*acronym,*/
/*address,*/
/*big,*/
/*cite,*/
/*code,*/
/*del,*/
/*dfn,*/
/*em,*/
/*img,*/
/*ins,*/
/*kbd,*/
/*q,*/
/*s,*/
/*samp,*/
/*small,*/
/*strike,*/
/*strong,*/
/*sub,*/
/*sup,*/
/*tt,*/
/*var,*/
/*b,*/
/*u,*/
/*i,*/
/*center,*/
/*dl,*/
/*dt,*/
/*dd,*/
/*ol,*/
/*ul,*/
/*li,*/
/*fieldset,*/
/*form,*/
/*label,*/
/*legend,*/
/*table,*/
/*caption,*/
/*tbody,*/
/*tfoot,*/
/*thead,*/
/*tr,*/
/*th,*/
/*td,*/
/*article,*/
/*aside,*/
/*canvas,*/
/*details,*/
/*embed,*/
/*figure,*/
/*figcaption,*/
/*footer,*/
/*header,*/
/*hgroup,*/
/*menu,*/
/*nav,*/
/*output,*/
/*ruby,*/
/*section,*/
/*summary,*/
/*time,*/
/*mark,*/
/*audio,*/
/*video {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  border: 0;*/
/*  font-size: 100%;*/
/*  font: inherit;*/
/*  vertical-align: baseline;*/
/*}*/

/* HTML5 display-role reset for older browsers */
/*article,*/
/*aside,*/
/*details,*/
/*figcaption,*/
/*figure,*/
/*footer,*/
/*header,*/
/*hgroup,*/
/*menu,*/
/*nav,*/
/*section {*/
/*  display: block;*/
/*}*/
body {
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style */
* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 1.5em;
  font-weight: bold;
}
p {
  font-size: 1em;
  text-align: justify;
  line-height: 1.5em;
}
.content {
  padding: 15vmax;
  padding-top: 5vmax;
}
.container-about-us {
  padding-bottom: 5vmax;
  box-sizing: border-box;
}

.container-about-us h1 {
  text-align: left;
  color: #34babf;
  margin-bottom: 1em;
}

.about-us-company-content {
  display: flex;
}

.about-us-company-content span {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}

.about-us-company-content p {
  padding-left: 7vmax;
}

.reason-container {
  padding-top: 0;
  padding-bottom: 1vmax;
  box-sizing: border-box;
}

.reason-container h1 {
  text-align: center;
  color: #34babf;
  margin-bottom: 1em;
}

.pilihan-buah-lokal,
.pilihan-rasa,
.pilihan-harga,
.pilihan-praktis {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 5vmax;
}

.pilihan-buah-lokal img,
.pilihan-rasa img,
.pilihan-harga img,
.pilihan-praktis img {
  max-width: 30vmax;
}

.pilihan-buah-lokal p,
.pilihan-harga p {
  padding-left: 7vmax;
}

.pilihan-buah-lokal span,
.pilihan-rasa span,
.pilihan-harga span,
.pilihan-praktis span {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}

.pilihan-rasa p,
.pilihan-praktis p {
  padding-right: 7vmax;
}

.tentang-owner {
  display: flex;
  align-items: center;
}

.tentang-owner img {
  width: 100vmax;
  border-radius: 100%;
}
.description-owner {
  display: flex;
  margin-left: 5vmax;
  flex-direction: column;
  align-items: end;
  margin-bottom: 1em;
}

.description-owner span {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}

.description-owner p {
  line-height: 2em;
}

.owner-detail {
  background-color: #34babf;
  text-align: center;
  width: fit-content;
  border-radius: 0.2em;
}

.owner-detail a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 1.2em;
  font-weight: 500;
}
